apiVersion: policy.aspenmesh.io/v1alpha1
kind: Application
metadata:
  name: bookinfo
spec:
  inbound:
    ports:
    - number: 9080
      protocol: HTTP
      paths:
      - expose:
          public: true
          jwtSecured: false
        uri:
          prefix: /
---
apiVersion: policy.aspenmesh.io/v1alpha1
kind: SecureIngress
metadata:
  name: bookinfo
  annotations:
    external-dns.alpha.kubernetes.io/target: 10.1.1.5
spec:
  domainName: "bookinfo.aspen-demo.org"
  jwt:
  - issuer: "admin@bookinfo.aspen-demo.org"
    jwksUri: "https://10.1.1.4:4444/.well-known/jwks.json"
  exposedApplications:
  - applicationReference:
      name: bookinfo
      namespace: bookinfo
    serviceReference:
      name: productpage
      namespace: bookinfo
